<span class="created-by">

      Copyright 2020 © <b><a href="https://www.sliit.lk/" target="_blank">SLIIT</a></b>. Made with Angular

    </span>

<div class="socials">
  <a href="https://www.instagram.com/" target="_blank" class="ion ion-logo-instagram"></a>
  <a href="https://www.facebook.com/" target="_blank" class="ion ion-logo-facebook"></a>
  <a href="https://www.twitter.com/" target="_blank" class="ion ion-logo-twitter"></a>
  <a href="https://www.whatsapp.com/" target="_blank" class="ion ion-logo-whatsapp"></a>
  <a href="https://www.linkedin.com/" target="_blank" class="ion ion-logo-linkedin"></a>
</div>
