<div class="col-lg-6">
  <nb-card>
    <nb-card-header>Vehicle Registration</nb-card-header>
    <nb-card-body>

        <input type="text" nbInput fullWidth status="info" placeholder="Owner Name">

        <textarea rows="3" nbInput status="info" placeholder="Address"></textarea>

        <input type="text" nbInput fullWidth status="info" placeholder="Contact ">

        <input type="text" nbInput fullWidth status="info" placeholder="Driver Name">

      <div class="full-name-inputs">
        <input type="text" nbInput fullWidth status="info" placeholder="Vehicle Number">
        <input type="text" nbInput fullWidth status="info" placeholder="Engine Number">
      </div>
      <input type="text" nbInput fullWidth status="info"  placeholder="Model Name">
      <input type="text" nbInput fullWidth status="info" placeholder="Year">
      <input type="text" nbInput fullWidth status="info" placeholder="Vehicle Color">

      <button  nbButton fullWidth status="primary" shape="semi-round">Registered</button>

    </nb-card-body>
  </nb-card>
</div>
