@import  '~@fortawesome/fontawesome-free/css/all.css';
@import '../@theme/styles/themes';
@import  '~ionicons/dist/scss/ionicons.scss';
@import  '~nebular-icons/scss/nebular-icons';
@include nb-install-component() {

  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {

      from {
        opacity: 0;
      }

      to {
        opacity: 1;

      }

    }

  }

}
